<h1>Try again<%= params[:fname] %> </h1>
<!-- <p>User input recieved, confirmation page</p> -->

<%= form_with url: "/user/confirmation", method: :post, local: true do |f| %>
<%= f.text_field :un, id: :un, param_key: :un, :value => params[:un], :required =>true %>
<%= f.password_field :pw, id: :pw, :placeholder => "Password"%>
<%= submit_tag "Log In"%>
<% end %>
