<header>
  <h1>Registration Form</h1>
  <p>Enter your information below</p>
</header>

<div id = "form">
  <%= form_with url: "/user", method: :post, local: true do |f| %>
  <%= f.text_field :un, id: :un,:placeholder => "Username", :required =>true%>
    <br/>
  <%= f.password_field :pw, id: :pw, :placeholder => "Password", :required =>true%>
  <br/>
  <%= f.text_field :email, id: :email, :placeholder => "Email Address", :required =>true%><br/><br/>
  <%= f.text_field :fname, id: :fname, :placeholder => "First Name"%>
  <%= f.text_field :lname, id: :lname, :placeholder => "Last Name"%> </br>
  <%= f.text_field :city, id: :city, :placeholder => "City"%> ,
  <%= f.text_field :state, id: :state, :placeholder => "State", :size =>"5"%>
  </br>
  <%= f.text_field :zip, id: :zip, :placeholder => "Zip", :size =>"5"%>
  <%= f.text_field :country, id: :country, :placeholder => "Country"%>
  <br/>
  </br></br>
  <%= submit_tag "Submit"%>
  <% end %>
</div>
